@model CodeRumor.Models.NavigationIndicator
<!DOCTYPE html>
<html>
<head>
    <partial name="_HeaderTags" />
</head>
<body>
    <nav id="navSecond" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!--This is the humbugger button-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--This is webpage logo-->
                <a class="cs_height_45 navbar-brand @Model.Active" asp-area="" asp-controller="Home" asp-action="HomeMain">
                    [CODE] rumor
                    @*<img class="inherit_size cs_place" src="~/images/CodeRumorShort.svg" />*@
                </a>
            </div>

            <div class=" navbar-collapse collapse " id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="cs_height_45" asp-area="" asp-controller="Documentation" asp-action="DocumentationMain">Documentation</a></li>
                    <li><a class="cs_height_45" asp-area="" asp-controller="Projects" asp-action="ProjectsMain">Projects</a></li>
                    <li ><a class="cs_height_45 active" asp-area="" asp-controller="Contact" asp-action="ContactMain">Contact</a></li>
                    <li class="cs_height_45"><a class="cs_height_45" asp-area="" asp-controller="TermsOfService" asp-action="TermsOfService">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody() <!--Everything get rendered in here-->
    </div>

    <div class="cs_background_dark cs_top_bar_blue">
        <div class="container">
            <partial name="_FooterTagsandScripts" />
        </div>
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
