<!--The contents in this file should be place in the footer.-->
<footer class="cs_padX20 cs_padY20  cs_background_dark">
    <p class="cs_black cs_bold">&copy; 2018 - CodeRumor</p>
    <div class="row">

        <div class="col-md-3 ">
            <h4 class="cs_black cs_bold">Site basic Info</h4>
            <p>Created in 2018</p>
            <p>Designed to show case project and documents</p>
            <p>Contact us for custom project</p>
            <p>Choose any of the projects for reference</p>
        </div>

        <div class="col-md-3 ">
            <h4 class="cs_black cs_bold">Contact Info</h4>
            <p><i class="line-icon-map"></i>99 Conestoga residence, Canada, Ontario N2P-2N5</p>
            <p><i class="line-icon-screen-smartphone"></i>+2-777-555-332 / -2-666-442-887</p>
            <p><i class="line-icon-envelope-open"></i>ugoivan@gmail.com</p>
            <p><i class="line-icon-calendar"></i>9am - 6 pm monday / saturday</p>
        </div>

        <div class="col-md-2 ">
            <h4 class="cs_black cs_bold">Support</h4>
            <p><a class="btn btn-danger cs_border_r20" asp-area="" asp-controller="TermsOfService" asp-action="TermsOfServiceMain">Terms of Services</a></p>
            <p><a class="btn btn-danger cs_border_r20">Privacy Policy</a></p>
            <p><a class="btn btn-danger cs_border_r20" asp-area="" asp-controller="Contact" asp-action="ContactMain">Contact us</a></p>
        </div>

        <div class="col-md-4 ">
            <h4 class="text-center cs_black cs_bold">Get In Touch</h4>
            <div class="text-center ">

                <a target="_blank" href="https://github.com/ugolole">
                    <i class="cs_50 fa fa-github fa-3x" style="color:dimgrey"></i>
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/ugololeivanb381215b/">
                    <i class="cs_50 fa fa-linkedin fa-3x" style="color:dimgrey"></i>
                </a>

                <a target="_blank" href="mailto:ugololeivan@yahoo.com?subject=hey,Ivan!!">
                    <i class="cs_50 fa fa-yahoo fa-3x" style="color:dimgrey"></i>
                </a>

                <a target="_blank" href="https://twitter.com/UgololeIvan">
                    <i class="cs_50 fa fa-twitter fa-3x" style="color:dimgrey"></i>
                </a>

                <a target="_blank" href="https://www.facebook.com/SirDexterz">
                    <i class="cs_50 fa fa-facebook fa-3x" style="color:dimgrey"></i>
                </a>
            </div>
        </div>
    </div>
</footer>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development"> 
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/custom.min.js" asp-append-version="true"></script>

    <!-- Include required JS files with the required XRegExp.js file -->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/XRegExp.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shCore.min.js" asp-append-version="true"></script>

    <!-- At least one brush, here we choose JS. You need to include a brush for every
        language you want to highlight-->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shBrushCSharp.min.js" asp-append-version="true"></script>

</environment>

<!-- Finally, to actually run the highlighter, you need to include this JS on your page -->
<script type="text/javascript">
    SyntaxHighlighter.all();
</script>

