<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121614571-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-121614571-1');
</script>

<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Coder | Rumor - @ViewData["Title"]</title>

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/size.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="~/css/spacing.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/favicon_glob.png">

    <!-- Include required JS files with the required XRegExp.js file -->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/XRegExp.min.js"></script>
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shCore.min.js"></script>

    <!--
        At least one brush, here we choose JS. You need to include a brush for every
        language you want to highlight
    -->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shBrushJava.min.js"></script>

    <!-- Include *at least* the core style and default theme -->
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shCore.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shThemeEclipse.min.css" rel="stylesheet" type="text/css" />

</environment>

<environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute" />
    <link rel="stylesheet" type="text/css" href="~/css/size.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/spacing.min.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon_glob.png" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
</environment>