
<!--Contents in this file should be placed in the header.-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121614571-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-121614571-1');
</script>

<meta name="description"
      content="CodeRumor is a website used to store all products and documentation
      created by Ivan Richard." />

<meta charset="utf-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Code | Rumor - @ViewData["Title"]</title>

<environment include="Development">
    <link rel="stylesheet" type="text/css" href="~/css/size.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="~/css/spacing.css" />
    <link rel="stylesheet" type="text/css" href="~/css/loader.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/favicon_glob.png">

    <!--Adding thickbox into the current project.-->
    <script type="text/javascript" src="~/lib/jQuery-1.79/tmp/jquery.js"></script>
    <script type="text/javascript" src="~/lib/thickBox/js/thickbox.js"></script>
    <link rel="stylesheet" href="~/lib/thickBox/css/thickbox.css" type="text/css" media="screen" />


    <!-- Include required JS files with the required XRegExp.js file -->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/XRegExp.min.js"></script>
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shCore.min.js"></script>

    <!-- At least one brush, here we choose JS. You need to include a brush for every
        language you want to highlight-->
    <script type="text/javascript" src="~/lib/syntaxhighlighter-3.0.83/scripts/shBrushCSharp.min.js"></script>

    <!-- Include *at least* the core style and default theme -->
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shCore.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shThemeEclipse.min.css" rel="stylesheet" type="text/css" />

</environment>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/size.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/custom.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/spacing.min.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon_glob.png" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/loader.min.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">

    <!-- Include *at least* the core style and default theme -->
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shCore.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/lib/syntaxhighlighter-3.0.83/styles/shThemeEclipse.min.css" rel="stylesheet" type="text/css" asp-append-version="true" />

</environment>