
<!--The content of the introduction page-->
<div class="row documentationContent cs_magTY20  cs_padX40">

    <div class="cs_bg_white col-sm-12 cs_padX40 cs_padY30 cs_border_r10 cs_shadow cs_top_bar_blue cs_bottom_bar_blue">

        <h1 class="cs_h1">Introduction</h1>
        <p class="text-justify">
            This part of the web application is designed to show case important projects most of which are 
            created using free access libraries the likes or ThreeJS, ParticalJs and P5Js.
        </p>

        <h1 class="cs_h1">Web Animations</h1>
        <h3 class="cs_h3">ThreeJs</h3>
        <p class="text-justify">
            Three.js allows the creation of Graphical Processing Unit (GPU)-accelerated 3D animations 
            using the JavaScript language as part of a website without relying on proprietary browser 
            plugins. This is possible due to the advent of WebGL.

            High-level libraries such as Three.js or GLGE, SceneJS, PhiloGL or a number of other 
            libraries make it possible to author complex 3D computer animations that display in 
            the browser without the effort required for a traditional standalone application or a plugin.
        </p>

        <h3 class="cs_h3">ParticalJs</h3>
        <p class="text-justify">
           Partical.js allows you to create or modify previous existing particle systems for animations 
           purposes.
        </p>

        <h3 class="cs_h3">P5Js</h3>
        <p class="text-justify">
            Processing is an open-source graphical library and integrated development environment 
            (IDE) / playground built for the electronic arts, new media art, and visual design
            communities with the purpose of teaching non-programmers the fundamentals of computer 
            programming in a visual context.

            Processing uses the Java language, with additional simplifications such as additional 
            classes and aliased mathematical functions and operations. As well as this, it also 
            has a graphical user interface for simplyfing the compilation and execution stage.

            The Processing language and IDE were the precursor to numerous other projects, 
            notably Arduino, Wiring and P5.js.
        </p>

        <h1 class="cs_h1">Mobile Projects</h1>
        <p class="text-justify">
            This part of the web application is designed to show case important projects most of which are
            created using Android Studio as an IDE.
        </p>

    </div>
</div>