
@{
    ViewData["Title"] = "Animations ";
    Layout = "_ProjectsLayout";
}

<h1 class="cs_margin_top70">@ViewData["Title"]</h1>

<script src="~/lib/p5/p5.min.js"></script>
<script src="~/lib/p5/p5.dom.min.js"></script>
<script src="~/lib/p5/p5.sound.min.js"></script>

<!--Page animation for growing trees-->
<script type="text/javascript" src="~/js/Animations.min.js"></script>

<div class="  text-center cs_padY30 ">

    <div class="cs_shadow cs_extended_shadow cs_a cs_light_border  cs_project_LH cs_magY40 cs_magX40">
        <h1>Growing Tree</h1>
        <div id="container" style="width:inherit; height:300px" class=""></div>
        <button class="btn btn-primary" onclick="treeClick();">Run</button>
        <a class="btn btn-primary" asp-controller="Projects" asp-action="JSGrowingTree">Want to Learn More</a>
    </div>

    <div class=" cs_shadow cs_extended_shadow cs_a cs_light_border cs_project_LH cs_magY40 cs_magX40">
        <h1>Bouncing ball</h1>
        <div id="bounce" style="width:inherit; height:300px" class=""></div>
        <button class="btn btn-primary" onclick="ballClick();">Run</button>
    </div>


</div>
