@{
    ViewData["Title"] = "Projects";
    Layout = "_ProjectsLayout";
}
<script src="~/lib/p5/p5.min.js"></script>
<script src="~/lib/p5/p5.dom.min.js"></script>
<script src="~/lib/p5/p5.sound.min.js"></script>

<!--Page animation -->
<script type="text/javascript" src="~/js/Animations.min.js"></script>

<h1 class="cs_margin_top70">@ViewData["Title"]</h1>

<div class="  text-center  ">

    <a class=" cs_shadow cs_extended_shadow cs_a cs_light_border  cs_project_LH cs_magY40 cs_magX40"
       asp-controller="Projects" asp-action="JavaScript">
        <h1>JavaScript Animations</h1>
    </a>

    <a class=" cs_shadow cs_extended_shadow cs_a cs_light_border cs_project_LH cs_magY40 cs_magX40">
        <h1>Android Projects</h1>
    </a>

</div>




