

.inherit_size{
    width:inherit !important; 
    height:inherit !important;
}

.cs_navbar_right {
    float: right;
    padding-top: 10px;
    font-size: 18pt;
    color:black !important;
}
.navbar-brand{
    height:60px;
}

.cs_place {
    position:relative; 
    top: -10px;
}

.navbar-head{
    height:30px;
}
.cs_navbar_color{
    color:black;
}

.cs_navbar_shadow{
    height:70px;
    box-shadow: 0px 0px 10px #808080;
}

.cs_see_me{
    border:2px solid black;
    border-radius: 10px;
    vertical-align:top;
}

.cs_navbar_bgcolor {
    background-color: white;
}


.cs_navbar_hide {
    top: 0;
    transition: top 0.5s;
}

.cs_navbar_size {
    font-size:18pt;
    display:inline;
}

.cs_margin_top70{
    margin-top:70px;
}

.cs_homepage_info{
    font-family:Arial;
    font-size:15pt;
}

.cs_body_look{
    border-radius: 30px;
    border: 2px black solid;
}

.cs_find_button {
    width: 50px !important;
    height: 50px !important;
    display: inline-block;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.cs_large{
    font-size:70pt;
}

.cs_skills_content {
    display: inline-block;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width:430px;
}

.cs_lr_margin_override{
    margin-left:0px;
    margin-right:0px;
}

.cs_skills_container{
    background-color:#383636;
}

.cs_white{
    color:white !important;
}

.cs_profile_content_pic {
    width: 200px;
    height: 200px;
    vertical-align:top;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.cs_profile_content_bio {
    width: 500px;
    vertical-align:top;
    display: inline-block;
    font-size: 13pt;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.cs_image_style {
    position: relative;
    top: 15px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 3px solid #808080;
    box-shadow: 0px 0px 10px #808080;
}

.cs_p10{
    font-size: 10pt;
}

.cs_p12 {
    font-size: 12pt;
}

.cs_p15 {
    font-size: 15pt;
}

.cs_p20 {
    font-size: 20pt;
}

.cs_p25 {
    font-size: 25pt;
}

.cs_p30 {
    font-size: 30pt;
}

.cs_a {
    cursor:pointer;
}

.cs_shadow {
    box-shadow: 0px 0px 10px #808080;
    border-radius: 3px;
}

/*Used to display both the height and width of the individual project*/
.cs_project_LH{
    width:430px;
    height:430px;
    display: inline-block;
    vertical-align:top;
}

/*Shows a light border around elements that use this class.*/
.cs_light_border{
    border:3px solid #808080;
}

@media (max-width: 991px) {

    .cs_large {
        font-size: 30pt !important;
    }

    .cs_find_button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    

    .cs_project_LH {
        width: 80%;
    }
}

@media (max-width: 775px){
    .cs_shadow_slider {
        box-shadow: 0px 0px 10px #808080;
    }
}

@media (max-width: 650px) {
    .cs_large {
        font-size: 20pt !important;
    }

    .cs_profile_content_bio {
        width: inherit !important;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .cs_find_button {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .cs_skills_content {
        width: 100% !important;
        margin: 50px 0px 50px 0px;
    }

    .cs_project_LH {
        width: 80%;
    }
}