
body{
    /*background-color:#efefef !important;*/
}
.inherit_size{
    width:inherit !important; 
    height:inherit !important;
}

.cs_navbar_right {
    float: right;
    padding-top: 10px;
    font-size: 18pt;
    color:black !important;
}

.cs_navbar_color{
    color:black;
}

.cs_navbar_shadow{
    height:78px;
    box-shadow: 0px 0px 10px #808080;
    border-radius: 10px;
}

.cs_navbar_bgcolor {
    background-color:white;
}

.cs_navbar_size {
    font-size:18pt;
    display:inline;
}