
.cs_extraSpace {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cs_padY10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cs_padY20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.cs_padY30 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.cs_padY40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.cs_padY60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.cs_padX0 {
    padding-left: 0px;
    padding-right: 0px;
}

.cs_padX10 {
    padding-left: 10px;
    padding-right: 10px;
}

.cs_padX20 {
    padding-left: 20px;
    padding-right: 20px;
}

.cs_padX30 {
    padding-left: 30px;
    padding-right: 30px;
}

.cs_padX40 {
    padding-left: 40px;
    padding-right: 40px;
}
