<!--The heading of document menu-->
<li><p class=" cs_p15 cs_bold cs_magTY20 cs_blue cs_magX10">OverView</p></li>
<li><a class="dropdown-item cs_p12 active cs_white">Introduction</a></li>

<!--list of programming languages -->
<li><p class=" cs_p15  cs_bold cs_white cs_magX10 cs_blue">Coding languages</p></li>
<li><a asp-controller="Documentation" asp-action="DocCsharp" class=" cs_p12 cs_white">C#</a></li>
<li><a class=" cs_p12 cs_white">Java</a></li>
<li><a class=" cs_p12 cs_white">PHP</a></li>
<li><a class=" cs_p12 cs_white">Python</a></li>

<!--List of web technologies-->
<li><p class=" cs_p15 cs_bold cs_blue cs_magX10">Web Technologies</p></li>
<li><a class=" cs_p12 cs_white">Asp.net</a></li>
<li><a class=" cs_p12 cs_white">Angular</a></li>
<li><a class=" cs_p12 cs_white">JSP</a></li>
<li><a class=" cs_p12 cs_white">PHP</a></li>
<li><a class=" cs_p12 cs_white">NodeJS</a></li>