@{
    ViewData["Title"] = "Documentation";
    Layout = "_DocumentationLayout";
}

<div class="cs_magY50 ">

    <!--The large screen side menu-->
    <div class="vertical-menu cs_white">
        <ul class="no_style_li">

            <!--The heading of document menu-->
            <li><p class="cs_blue cs_p15 cs_bold cs_magTY20">OverView</p></li>
            <ul class="no_style_li">
                <li><a class="cs_white cs_p12 active">Introduction</a></li>
            </ul>

            <!--list of programming languages -->
            <li><p class="cs_blue cs_p15 cs_bold">Programming languages</p></li>
            <ul class="no_style_li">
                <li><a asp-controller="Documentation" asp-action="DocCsharp" class="cs_white cs_p12">C#</a></li>
                <li><a class="cs_white cs_p12">Java</a></li>
                <li><a class="cs_white cs_p12">PHP</a></li>
                <li><a class="cs_white cs_p12">Python</a></li>
            </ul>

            <!--list of web technologies -->
            <li><p class="cs_blue cs_p15 cs_bold">Web Technologies</p></li>
            <ul class="no_style_li">
                <li><a class="cs_white cs_p12">Asp.net</a></li>
                <li><a class="cs_white cs_p12">Angular</a></li>
                <li><a class="cs_white cs_p12">JSP</a></li>
                <li><a class="cs_white cs_p12">PHP</a></li>
                <li><a class="cs_white cs_p12">NodeJS</a></li>
            </ul>
        </ul>
    </div>

    <!--The small screen alternative top menu-->
    <div class=" row documentationContent">
        <div class="hideWhenBig-menu dropdown-menu-right col-sm-12 cs_magTY20">
            <button class="btn btn-basic cs_p15 dropdown" type="button" data-toggle="dropdown" style="width:100%; height:50px;">
                Table of Contents <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-center no_style_li">

                <!--The heading of document menu-->
                <li><p class=" cs_p15 cs_bold cs_magTY20 cs_magX10">OverView</p></li>
                <li><a class="dropdown-item cs_p12 activeDark">Introduction</a></li>

                <!--list of programming languages -->
                <li><p class=" cs_p15 cs_bold cs_magX10">Programming languages</p></li>
                <li><a asp-controller="Documentation" asp-action="DocCsharp" class=" cs_p12">C#</a></li>
                <li><a class=" cs_p12">Java</a></li>
                <li><a class=" cs_p12">PHP</a></li>
                <li><a class=" cs_p12">Python</a></li>

                <!--list of web technologies -->
                <li><p class=" cs_p15 cs_bold cs_magX10">Web Technologies</p></li>
                <li><a class=" cs_p12">Asp.net</a></li>
                <li><a class=" cs_p12">Angular</a></li>
                <li><a class=" cs_p12">JSP</a></li>
                <li><a class=" cs_p12">PHP</a></li>
                <li><a class=" cs_p12">NodeJS</a></li>

            </ul>
        </div>
    </div>

    <!--The content of the introduction page-->
    <div class="row documentationContent">

        <div class="col-sm-12 cs_padY30">
            <h1>Introduction</h1>
            <p class="text-justify">
                This part of the web application is designed to show case important documentation
                that was used in creating some to the application you will see later in the projects
                section. It currently contains 2 important parts, <strong>Programming Languages</strong> which is a list
                of programming languages used to build the application show-cased in this website and
                <strong>Web Technologies</strong> which are the tools designed to be short-cuts to the development
                process.
            </p>

            <h2>Overview</h2>
            <h3>C#</h3>
            <p class="text-justify">
                Microsoft's most popular programming computer technology known as <strong>.Net</strong> comes with the
                C# programming language, pronoused <strong><em>C Sharp</em></strong> and is a general purpose programming language
                which is also considered by many as a multiparadigm programming language. This allows users to utilise programming techniques
                such as <strong>Object Oriented Programmin language</strong>, <strong>Strong typing </strong> "an empasis on the
                rules used during compile time" <strong>Imperitive</strong> "statements that change a programs state"
                and finally <strong>Declarative</strong> "the ability to build the structure of computer programs without expressing
                the logical flow"
            </p>
        </div>



    </div>

    <!--Footer used by the page-->
    <div class="row documentationContent">
        <partial name="_FooterTagsandScripts" />
    </div>
</div>



