
<div class="row documentationContent cs_magTY20  cs_padX40">
    <!--Page animation -->
    <script type="text/javascript" src="~/js/Animations.min.js"></script>

    <div class="cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_border_r10 cs_shadow cs_extended_shadow cs_a   cs_project_MD  cs_magX40">
        <h1>Growing Tree</h1>
        <div id="container" style="width:inherit; height:300px" class=""></div>
        <button class="btn btn-primary" onclick="treeClick();">Run</button>
    </div>

    <div class="cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_border_r10 cs_shadow cs_extended_shadow cs_a  cs_project_MD  cs_magX40">
        <h1>Bouncing ball</h1>
        <div id="bounce" style="width:inherit; height:300px" class=""></div>
        <button class="btn btn-primary" onclick="ballClick();">Run</button>
    </div>


</div>
