
<!--Adding thickbox into the current project.-->
<script type="text/javascript" src="~/lib/jQuery-1.79/tmp/jquery.js"></script>
<script type="text/javascript" src="~/lib/thickBox/js/thickbox.js"></script>
<link rel="stylesheet" href="~/lib/thickBox/css/thickbox.css" type="text/css" media="screen" />

<div class="row documentationContent cs_magTY20  cs_padX40">
    <!--Page animation -->
    <script type="text/javascript" src="~/js/Animations.min.js"></script>



    <a href="@Url.Action("Test","Projects")?height=300&width=300" class="thickbox text-center cs_shadow cs_extended_shadow cs_a cs_border_r10 cs_project_MD  cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_magX40">
    </a>

    <a class="thickbox text-center cs_shadow cs_extended_shadow cs_a cs_border_r10  cs_project_MD  cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_magX40">
    </a>

</div>
