
<link href="~/lib/thickBox/css/thickbox.css" />

<script src="~/lib/thickBox/js/thickbox.js"></script>

<div class="row documentationContent cs_magTY20  cs_padX40">
    <!--Page animation -->
    <script type="text/javascript" src="~/js/Animations.min.js"></script>


        <a class="thickbox text-center cs_shadow cs_extended_shadow cs_a cs_border_r10 cs_project_MD  cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_magX40">
        </a>

        <a class="thickbox text-center cs_shadow cs_extended_shadow cs_a cs_border_r10  cs_project_MD  cs_bg_white cs_top_bar_blue cs_bottom_bar_blue cs_magX40">
        </a>

</div>
