<h3 class="cs_h3"><a name="DOCHeader4"></a><strong>Example Code</strong></h3>

<pre class="brush: csharp">
using System;

namespace ConsoleApp2
{
    class Program
    {
        static void Main(string[] args)
        {
            Console.WriteLine("Hello World!");
        }
    }
}
</pre>