<h3 class="cs_h3"><a name="DOCHeader7"></a><strong>Functions of a program</strong></h3>
<ul>
    <li>
        All programs have 3 important functions, these functions include;
        <ul>
            <li><strong>Input: </strong>This is a process when a program gets information from the outside world</li>
            <li><strong>Processing:</strong> This is a situation when a program decides what to do with this information.</li>
            <li><strong>Output: </strong>This is a situation when a program decides to produce the result of the processing or program shows the user what it has done with this information.</li>
        </ul>
    </li>
</ul>