<h3 class="cs_h3"><a name="DOCHeader3"></a><strong>Console Applications</strong></h3>
<p>
    A console application, in the context of C#, is an application that takes input and displays
    output at a command line console with access to three basic data streams: standard input, 
    standard output and standard error.

    A console application facilitates the reading and writing of characters 
    from a console - either individually or as an entire line. It is the simplest form 
    of a C# program and is typically invoked from the Windows command prompt. A console
    application usually exists in the form of a stand-alone executable file with minimal 
    or no graphical user interface (GUI).
</p>

<ul>
    <li>Console application will always have one file this file is called Program.cs</li>
    <li>The template used in console application will provide one class program and one function main.</li>
    <li>The functions called main is the entry point of the console application</li>
    <li>If your console application doesn&rsquo;t have a function main you program will not run.</li>
</ul>