<h3 class="cs_h3"><a name="DOCHeader2"></a><strong>Types of projects</strong></h3>
<ul>
    <li><strong>Console applications: - </strong>This runs in the windows console</li>
    <li><strong>Windows forms application: - </strong>Allows uses to create and run applications consisting of multiple forms</li>
</ul>