<!--The heading of document menu-->
<li>
    <a asp-controller="Documentation" asp-action="DocumentationMain"
       class="cs_blue cs_p15 cs_bold cs_magY20">
        <span>
            <i class="fa fa-arrow-circle-left cs_white cs_magX10"></i>
        </span>Back
    </a>
</li>

<!--list of programming languages -->
<li>
    <p class="cs_blue cs_p15 cs_bold">C# Documentation</p>
</li>
<ul class="no_style_li">
    <li><a name="DOCHeader_menu1" class="menu cs_white cs_p12">Understanding C#</a></li>
    <li><a name="DOCHeader_menu2" class="menu cs_white cs_p12">Types of Projects</a></li>
    <li><a name="DOCHeader_menu3" class="menu cs_white cs_p12">Console Application</a></li>
    <li><a name="DOCHeader_menu4" class="menu cs_white cs_p12">Example Code</a></li>
    <li><a name="DOCHeader_menu5" class="menu cs_white cs_p12">Using Keywords</a></li>
    <li><a name="DOCHeader_menu6" class="menu cs_white cs_p12">Running your application</a></li>
    <li><a name="DOCHeader_menu7" class="menu cs_white cs_p12">Functions of a program</a></li>
    <li><a name="DOCHeader_menu8" class="menu cs_white cs_p12">Performing Input</a></li>
</ul>
