<!--list of programming languages -->
<li><p class=" cs_p15 cs_bold cs_magTY20 cs_blue cs_magX10">Terms Of Service</p></li>
<li><a name="TERMsHeader_menu1" class="menu cs_white cs_p12">Welcome to CodeRumor</a></li>
<li><a name="TERMsHeader_menu2" class="menu cs_white cs_p12">Cookies</a></li>
<li><a name="TERMsHeader_menu3" class="menu cs_white cs_p12">License</a></li>
<li><a name="TERMsHeader_menu4" class="menu cs_white cs_p12">User Comments</a></li>
<li><a name="TERMsHeader_menu5" class="menu cs_white cs_p12">Hyperlinking to our Content</a></li>
<li><a name="TERMsHeader_menu6" class="menu cs_white cs_p12">Iframes</a></li>
<li><a name="TERMsHeader_menu7" class="menu cs_white cs_p12">Reservation of Rights</a></li>
<li><a name="TERMsHeader_menu8" class="menu cs_white cs_p12">Removal of links</a></li>
<li><a name="TERMsHeader_menu9" class="menu cs_white cs_p12">Content Liability</a></li>
<li><a name="TERMsHeader_menu10" class="menu cs_white cs_p12">Disclaimer</a></li>
<li><a name="TERMsHeader_menu11" class="menu cs_white cs_p12">CodeRumor</a>
<li><a name="TERMsHeader_menu12" class="menu cs_white cs_p12">Credit & Contact Information</a>