@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}

<div class="container-fluid body-content ">

    <!--The main index container-->
    <div class="row  cs_magY100 ">

        <!--The bio information container-->
        <div class="col-lg-12 text-center cs_padY40">

            <div class="cs_profile_content_pic">
                <img class="cs_image_style  " src="~/images/Profile_picture.jpg" alt="Profile picture" />
            </div>

            <div class=" cs_profile_content_bio  text-justify ">
                <p>
                    With experience in HTML, CSS and JavaScript I have built web solutions using the ASP.NET and AngularJs. My experience also extends
                    to the Django web framework used to develop full fledged websites in Python it encourages rapid development and advocates pragmatic and clean code.
                    For years have built projects using C# with .NET and Java while having a solid foundation with Java Server Pages.
                </p>
            </div>
        </div>
    </div>

    @*The skills information container*@
    <!--Row 1-->
    <div class="row cs_skills_container cs_white">
        <div class="col-lg-1 text-center ">

        </div>
        <div class="col-lg-1 text-center ">
            <div class=" ">
                <h1>Skills</h1>
            </div>
        </div>

    </div>

    <!--Row 2-->
    <div class="row cs_white  cs_skills_container text-justify ">
        <div class="col-lg-6  text-center ">
            <div class="cs_skills_content text-justify cs_p12">
                <h2>Web Technology Skills</h2>
                <p>
                    Possess two years of experience in HTML5, CSS3, JavaScript and
                    jQuery
                    <br /> <a target="_blank" class="btn btn-primary" href="https://ugololeivan.github.io/Assignment2/index.html">Project</a>
                </p>
                <p>
                    Simplified HTML document traversing, event handling, animation, and Ajax interactions for rapid web development using jQuery.
                    The animations for web applications meant for illustration purposes only.
                    <br /> <a target="_blank" class="btn btn-primary" href="https://ugololeivan.github.io/Assignment2/index.html">JavaScript Animations</a>
                </p>
            </div>
        </div>

        <div class="col-lg-6 text-center ">
            <div class="cs_skills_content text-justify cs_p12 ">
                <h2>Android Developement</h2>
                <p>
                    Applied basic numerical functions on a mobile calculator app using Android
                    Studio as the IDE
                    <br /><a target="_blank" class="btn btn-primary" href="https://github.com/ugolole/AndroidCalculator">Android Calculator</a>
                </p>
                <p>
                    Developed custom android User Interface for a Library application meant to
                    be an eBook delivery system although still in development visit sauce code
                    here
                    <br /><a target="_blank" class="btn btn-primary" href="https://github.com/ugolole/AndroidUI">Android UI prototype</a>
                </p>
            </div>
        </div>
    </div>

    <!--Row 3-->
    <div class="row  cs_white   cs_skills_container text-justify ">
        <div class="col-lg-6 text-center ">
            <div class="cs_skills_content text-justify cs_p12 ">
                <h2>C# and Java</h2>
                <p>
                    Developed a windows application as part of a group project to store user
                    information like age, date of birth, using C# and .Net.
                    Debugged backend applications and implemented improvements using
                    design patterns in JAVA.<br /><a target="_blank" class="btn btn-primary" href="https://github.com/ugolole/Software-Development-project">SD-Project</a>
                </p>
                <p>
                    Improved existing school project using UML diagrams by describing the
                    boundary, structure and behavior of the application and objects inside it.
                    Programmed desktop guessing game applications in JAVA using objectoriented methodology
                    <br /><a target="_blank" class="btn btn-primary" href="https://github.com/ugolole/AnagramGame">AnagramGrame</a>
                </p>
            </div>
        </div>

        <div class="col-lg-6 text-center ">
            <div class="cs_skills_content text-justify cs_p12 ">
                <h2>Education</h2>
                <p>
                    Mobile Solutions Development (Co-op)
                    Conestoga College, Kitchener, ON with First semester GPA 3.84.
                </p>
                <p>
                    Bachelor of Engineering in Electrical & Electronic at
                    INTI International College Penang in collaboration with
                    University of Bradford United Kingdom where I built 16-bit RISC processor link to research paper.
                    <br /><a target="_blank" class="btn btn-primary" href="http://iicplibrary.newinti.edu.my:8080/seal/Record/0000015413">University  CPU project</a>
                </p>
            </div>
        </div>
    </div>

</div>
@*<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript">
    $('.aDivSize').click(function () {
        if (this.id == "home") {
            //do your stuff here
            $(this).css('color','blue');
            alert('me');
        }
    });
</script>*@

