@{
    ViewData["Title"] = "Home";
}

<div class="cs_container_margin">

    <div class="text-center">
        <h1 class="cs_large">Hi, I'm Ivan Richard ;)</h1>
        <p class="cs_homepage_info">
            A passionate web developer 
        </p>
    </div>

    <div class="text-center cs_padY40" >

        <div class="cs_profile_content_pic" >
            <img style="position:relative; top:15px; width:150px; height:150px; border-radius:100px; border:2px solid black" src="~/images/Profile picture.jpg" alt="Avatar" />
        </div>

        <div class="cs_profile_content_bio text-justify ">
            <p>
                With experience in HTML, CSS and JavaScript I have built web solutions using the ASP.NET and AngularJs. My experience also extends
                to the Django web framework used to develop full fledged websites in Python it encourages rapid development and advocates pragmatic and clean code.
                For years have built projects using C# with .NET and Java while having a solid foundation with Java Server Pages.
            </p>
        </div>
    </div>

    @*<div class="text-center" style=" background-color:#efefef;">
        <div class="cs_skills_content ">
            Web Development
        </div>

        <div class="cs_skills_content ">
            Mobile Development
        </div>
    </div>*@

</div>  


