@{
    ViewData["Title"] = "Projects";
}
@*<div class="cs_margin_top70 text-center cs_padY30 ">

    <div class=" cs_shadow cs_light_border cs_project_LH cs_magY40 cs_magX40">

    </div>

    <div class=" cs_shadow cs_light_border cs_project_LH cs_magY40 cs_magX40">

    </div>

</div>*@




